<ion-header>
    <img src="assets/moovit.png" style="width: 100%; height: 100%">
    <ion-searchbar class="searchbar" value="Ou voulez-vous aller ?"></ion-searchbar>
</ion-header>

<ion-content>
    <ion-list>
          <ion-list-header class="titleList">
            <ion-title color="primary">
              <div class="title">Favoris</div>
            </ion-title>
            <ion-button (click)="goToAddFav()" shape="round" class="btnAdd" color="primary">Ajouter</ion-button>
          </ion-list-header>
          
        <ion-item *ngFor="let term of arrayH;">
          <ion-row>
            <ion-text>{{term}} minutes</ion-text>
          </ion-row>
        </ion-item>
    </ion-list>
</ion-content>
