img {
  filter: brightness(50%);
}

.searchbar{
  position: absolute;
  top: 60%;
}

.titleList{
  background: #E3E3E3
}

.btnAdd{
  position: relative;
  float: right;
  margin-right: 2px;
}

.btnAdd:hover{
  cursor: pointer;
}

title{
  display: inline;
}