<ion-header>
  <ion-toolbar>
    <ion-title>Ajouter une adresse favorite</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <form [formGroup]="appareilForm">
        <ion-list>
          <ion-item-divider>Informations</ion-item-divider>
          <ion-item>
            <ion-label>Nom</ion-label>
            <ion-input placeholder="Appareil" formControlName="name"></ion-input>
          </ion-item>
          <ion-item-divider>Description</ion-item-divider>
          <div formArrayName="description">
            <ion-item *ngFor="let control of getDescriptionArray().controls; let i = index"></ion-item>
          </div>
        </ion-list>
      </form>
</ion-content>
