<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
        <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>Ajouter une adresse favorite</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <br>
    <ion-text class="inputTitle">Nom du Favoris :</ion-text>
    <ion-item>
        <ion-input (click)="keyboard.show()" type="text"  class="textArea" id="nom" clearOnEdit="true"></ion-input>
    </ion-item>
    <ion-text class="inputTitle">Adresse du favoris :</ion-text>
    <ion-item>
        <ion-input (click)="keyboard.show()" type="text" class="textArea" id="adr" clearOnEdit="true"></ion-input>
    </ion-item>
  <ion-button expand="block" shape="round" color="invert" class="btnAjouter" (click)="saveData()">Ajouter</ion-button>
</ion-content>
