<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>{{dir}}  
    </ion-title>
    <ion-spinner slot="end" id="spinner2" name="crescent" style="margin-right : 10px;" ></ion-spinner>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-radio-group>
          <ion-list-header style="text-align: center;">
            <ion-label>Direction :</ion-label>
          </ion-list-header>
      
          <ion-item>
            <ion-label>{{dir1}}</ion-label>
            <ion-radio slot="end" value="biff" color="light" checked (click)="changeDir(true)"></ion-radio>
          </ion-item>
      
          <ion-item>
            <ion-label>{{dir2}}</ion-label>
            <ion-radio slot="end" value="griff" color="light" (click)="changeDir(false)"></ion-radio>
          </ion-item>
        </ion-radio-group>
    </ion-list>
    <ion-list>
        <ion-list-header style="text-align: center;">
            <ion-label>Arrêts :</ion-label>
          </ion-list-header>
        <ion-item  *ngFor="let term of arrayA;" (click)="clicked(term)">
            <ion-row>
              <p>{{term}}</p>
            </ion-row>
        </ion-item>
    </ion-list>  


  </ion-content>

  
  
