<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>{{nomArret}}</ion-title>
    <ion-spinner slot="end" id="spinner3" name="crescent" style="margin-right : 10px;" hidden="false"></ion-spinner>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngFor="let dir of arrayD;">
      <ion-item>
        <ion-list-header><ion-title color="invert">Direction : {{dir}} </ion-title></ion-list-header>
      </ion-item>
      <ng-container *ngFor="let term of arrayH;">
        <ion-item *ngIf="dir == term[0]" >
            <ion-text>{{term[1]}} minutes</ion-text>
        </ion-item>
      </ng-container>
  </ion-list>
</ion-content>
